.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;

    span {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        
        a {
            color: inherit;
        }
    }
}